{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 ">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Order Process</h1>
                    <p class="lead fw-normal text-white-50 mb-0"><b>Eshopper</b> Add your billing details</p>
                </div>
            </div>
        </header>
        <div class="row d-flex justify-content-center">
                <div class="col-sm-5 align-items-center p-4">
                    <h2 class="text-center "><u>Checkout Order</u></h2>
              
            
       
        </div>
{% endblock %}