{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us!!!</h1>
                    <p class="lead fw-normal text-white-50 mb-0"><b>E-shopper</b> to make everyday life easier</p>
                </div>
            </div>
        </header>
       <div class="container">
             <div class="row ">
                <center>
                <div class="col-sm-8  ">
                    <br>
                    <h2><u>E-Shopper</u></h2><br>
                    <p align="justify">Best Camera Phones: They might not have made cameras obsolete (yet), 
                       but smartphone cameras have comfortably managed to take over every day
                       and even some special occasion photography needs. So important are phone
                       cameras that today, it is rare to find a phone priced above Rs 10,000 with
                       a really bad camera. The USP status accorded to cameras meant that in 2024, 
                       several phones were released with very good cameras, some even bearing the 
                       names of legendary photography brands.  

                       But which were the best phone snappers of the year? Well, we think these five 
                       phones topped the camera charts in 2024: <br><br>
                       Best Camera Phones: They might not have made cameras obsolete (yet), 
                       but smartphone cameras have comfortably managed to take over every day
                       and even some special occasion photography needs. So important are phone
                       cameras that today, it is rare to find a phone priced above Rs 10,000 with
                       a really bad camera. The USP status accorded to cameras meant that in 2024, 
                       several phones were released with very good cameras, some even bearing the 
                       names of legendary photography brands.  

                       But which were the best phone snappers of the year? Well, we think these five 
                       phones topped the camera charts in 2024:
                       <br><br>
                       Best Camera Phones: They might not have made cameras obsolete (yet), 
                       but smartphone cameras have comfortably managed to take over every day
                       and even some special occasion photography needs. So important are phone
                       cameras that today, it is rare to find a phone priced above Rs 10,000 with
                       a really bad camera. The USP status accorded to cameras meant that in 2024, 
                       several phones were released with very good cameras, some even bearing the 
                       names of legendary photography brands.  

                       But which were the best phone snappers of the year? Well, we think these five 
                       phones topped the camera charts in 2024: </p>
                       <br>
                </div>
                </center>
            </div>
       </div>
       
     
{% endblock %}