{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h6 class="display-4 fw-bolder">Update User Details</h6>
                    <p class="lead fw-normal text-white-50 mb-0">Update or add more details about you!!!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container">
            <div class="row ">
               <center>
               <div class="col-sm-5 p-4  ">
                   <form method="POST" action="{% url 'update_info' %}">
                       {% csrf_token %}
                       <b>Billing Address:</b>
                       {{ form.as_p }}
                       <br><br>
                       <b>Shipping Address:</b>
                       {{ ship_form.as_p }}
                       <button class="btn btn-success me-3" type="submit">Update</button>
                   </form>
                   <br>
                   
                   
               </div>
               </center>
           </div>
      </div>
       
     
{% endblock %}